.tech {
    font-family: Roboto, "Roboto Light", sans-serif;
}

.loading {
    height: 16px;
    width: 47px;
    color: #4D4D4D;
    font-family: Roboto, "Roboto Light", sans-serif;
    font-weight: 300;
    margin-left: 418px;
    font-size: 14px;
}
