.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
