.item {

}

.item:last-of-type {

}

.users {
border-bottom: #E5E5E5;
    width: 306px;
    height: 1px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 100px;
    padding-right: 30px;
}

.container {
}

.thead {
    background-color: #E5E5E5;

}

.nameCol {
    padding: 5px 100px 5px 0;
}

.ageCol {
}